.typing-effect.blinking-cursor::after {
    content: '|';
    animation: blink 1s steps(2, start) infinite;
  }
  
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
  

.typing-effect {
    font-size: 22px;
}